html {
  min-width: 1030px; }

body {
  position: relative;
  padding: 0;
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }

address {
  margin-bottom: 0; }

.container {
  width: 1030px !important; }

#header .top-backdrop {
  height: 53px;
  background-color: #2e2e2e; }
#header .logo {
  padding: 43px 0 25px;
  margin-left: 25px; }

#content .visual-slider .bx-wrapper {
  position: relative; }
  #content .visual-slider .bx-wrapper .bx-viewport ul li a {
    display: block;
    /*width: 100%;*/
    height: 733px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%; }
    #content .visual-slider .bx-wrapper .bx-viewport ul li a .img-responsive {
      height: 100%;
      margin: 0 auto; }
  #content .visual-slider .bx-wrapper .bx-controls {
    position: absolute;
    bottom: 25px;
    left: 0;
    width: 100%; }
    #content .visual-slider .bx-wrapper .bx-controls .bx-pager {
      text-align: center; }
      #content .visual-slider .bx-wrapper .bx-controls .bx-pager .bx-pager-item {
        display: inline-block;
        text-indent: -999999px; }
        #content .visual-slider .bx-wrapper .bx-controls .bx-pager .bx-pager-item a {
          width: 9px;
          height: 9px;
          border-radius: 50%;
          display: block;
          margin: 0 8px;
          background-color: #000; }
          #content .visual-slider .bx-wrapper .bx-controls .bx-pager .bx-pager-item a.active {
            background-color: #ff3333; }
#content figure {
  margin: 10px 0 40px; }
#content .link-list {
  width: 1007px;
  height: 467px;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 50px;
  background-image: url(/assets/images/bg_link.jpg);
  background-repeat: no-repeat;
  background-position: 0 0; }
  #content .link-list li {
    float: left;
    height: 116px;
    width: 50%; }
    #content .link-list li:nth-of-type(2n + 1) {
      clear: both; }
    #content .link-list li:nth-of-type(2n + 2) {
      margin-left: -2px; }
    #content .link-list li:nth-of-type(7), #content .link-list li:nth-of-type(8) {
      margin-top: -2px; }
    #content .link-list li a {
      display: block;
      line-height: 116px;
      text-align: center; }
      #content .link-list li a img {
        display: inline-block; }

#footer {
  padding: 80px 0;
  background-color: #2e2e2e; }
  #footer .container h2 {
    display: inline-block;
    padding-top: 6px;
    vertical-align: top; }
  #footer .container div {
    padding-left: 30px;
    vertical-align: top;
    display: inline-block; }
    #footer .container div ul {
      display: block;
      margin-bottom: 30px; }
      #footer .container div ul li {
        display: inline-block; }
        #footer .container div ul li:after {
          position: relative;
          top: 1px;
          font-size: 18px;
          color: #fff;
          content: "|";
          margin: 0 20px; }
        #footer .container div ul li:last-child:after {
          content: "";
          margin: 0; }

/*# sourceMappingURL=style.css.map */
